* {
    font-family: "Jersey 25", sans-serif;
    font-style: normal;
    list-style: none;
}

body {
    background-color: #CD4C4C;
}

.header{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 40px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}

.header-logos {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.header-labels {
    font-size: 72px;
    user-select: none;
}

.topnav {

    background-color: none;
    overflow: visible;
    font-weight: 400;
    font-style: normal;
    
    
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 27px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }


.topnav a:hover {
    background-color: #f1acac;
    color: none;
    transition: background 0.4s ease-in-out;
    border-radius: 35px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 35px;
    transition: background 0.3s ease-in-out;
    display: block;
}

.dropdown a:hover {
    background: #f1acac;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #f1acac;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 150px;
    border-radius: 35px;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn { /*fade in animation for the dropdown menu*/
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.dropdown-menu li {
    width: 100%;
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.dropdown-menu a {
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    margin: 0 auto;
    text-align: center; 
}

.dropdown-menu a:hover {
    color: red;
    transition: all 0.8s ease;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.card-header{
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-size: 45px;
    text-align: center;
    padding-bottom: 20px;
    color: white;
}

.event{
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-size: 25px;
    list-style-type: circle;
    margin: 0 0 15 0px;
}
.event-list{
  margin: 0 auto;
  margin-top: -10px;
  margin-bottom: 30px;
  padding: 0;
}

.upcoming-events{
    background-color: #FF6868;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 25px 25px 25px;
    width: 250px;
    color: white;
}

.about-card{
    background-color: #FF6868;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 120vh;
    margin-left: 60px;
    margin-bottom: 60px;
}

.about-description {
    width: 500px;
    text-align: center;
    color: white;
}

.card-images{
    width: 150px;
    height: auto;
    padding: 30px;
    
}

.featured-news-card {
    background-color: white;
    color: black;
    margin: 0 auto;
    width: 70%;
    font-size: larger;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
          rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
          rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          animation: appear linear;
          animation-timeline: view();
          animation-range: entry 0% cover 40%;
}

.why-join-card{
    background-color: #FF6868;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 1000px;
    margin-left: 60px;
    margin-bottom: 60px;
    padding: 25px;
}

.why-join-link{
    color: white;
    font-size: 28px;
}

.why-join-description {
    width: 500px;
    text-align: center;
    color: white;
}

@keyframes appear{
    from{
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }
    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}


.news-update-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    width: 220px;
    padding: 0;
    overflow: hidden;
    color: black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.news-section {
    padding: 20px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
          rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
          rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          animation: appear linear;
          animation-timeline: view();
          animation-range: entry 0% cover 40%;
}

.news-body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #861d1d, #d04e4e);
   /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
          rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
          rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          animation: appear linear;
          animation-timeline: view();
          animation-range: entry 0% cover 40%; */
}

.header-logos{
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 8px;
}

.center-page {
    display: flex;
}

.card-underline{ /*White line under "Upcoming events"*/
    background-color: white;
    height: 3.5px;
    width: 100%;
    margin-top: -42px;
    display: inline-block;
}


.header-button:hover{
    opacity: 75%;
    transition: all 0.3s ease;
    transform: scale(1.05);
}

.footer-card{
    background-color: #669BBC;
    color: white;
    font-size: 20px;
    padding-left: 20px;
    height: 100px;
    display: flex;
    width: 100%;
    align-items: center;
}

@media (max-width: 768px) {
    .header-top {
        flex-direction: column; /* Stack logo and text vertically on smaller screens */
        text-align: center;
        align-items: center;
    }
    .about-card {
        flex-direction: column;
        text-align: center;
      }
    .header-logos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        order: 2;
    }
    .header-content {
        flex-direction: column;
        align-items: center;
    }
    .center-page{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width: 769px) and (max-width: 1087px){
    .card-underline{ /* Visual adjustments for medium sized screens */
        display: none;
    }
    .about-card{
        flex-direction: column;
    }
}

@media(max-width: 1080px){
    .header-logos{
        height: 2em;  
        width: 2em;
    }
}

 
deleteBptn {
    background-color: #ff00cc;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 0;

}

deleteBtn:hover {
    background-color: #b3008f;
}
button {
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 0;
    font-size: 0.9em;
    
}

button:hover {
    background-color: #27ae60;
}

#auth-section, #post-form {
    background-image: linear-gradient(to top left,  #861d1d, #d04e4e);
    padding: 15px;
    border-radius: 5px;
    margin: auto;
  /*  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
          rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
          rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          animation: appear linear;
          animation-timeline: view();
          animation-range: entry 0% cover 40%; */
}

input, textarea {
    width: 100%;
    padding: 7px;
    margin: 7px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
          rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
          rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.error {
    color: #210502;
    font-size: 0.9em;
}

hr {
    border: 0;
    height: 1px;
    background-color: #cfdfe3;
    margin: 15px 0;
    
}

#all-meetings-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 10%;  */
      
}
 
#all-meetings-container.expanded {
    max-height:2000px;
   
}

.update-image {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.featured-news-container {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.latest-updates-container {
    display: flex;
    flex-direction: row; 
    gap: 20px; 
    flex-wrap: wrap; 
    justify-content: flex-start; 
}
.update-date {
    font-size: 12px;
    color: gray;
    margin: 0;
}